Package: bootp
Maintainer: Darwin Developers <darwin-development@public.lists.apple.com>
Vendor: Apple Computer, Inc.
Version: 29.1
Description: BOOTP server
Build-Depends: build-base, libinfo-hdrs, objc4
