Package: apache-mod-ssl
Maintainer: Wilfredo Sanchez <wsanchez@apple.com>
Vendor: mod_ssl
Version: 2.6.2
Description: SSL module for the Apache HTTP Server
Build-Depends: build-base, perl, apache, openssl, gnuzip
